.root {
	-fx-background: #262626;
	-fx-control-inner-background: #b3b3b3;
	-fx-accent: #409fbf;
	-fx-default-button: #a6ccd9;
	-fx-focus-color: #94c2d1;
	-fx-faint-focus-color: #94c2d133;
}

.label {
	-fx-text-fill: white;
}

.check-box {
	-fx-text-fill: white;
}

.scroll-pane {
	-fx-background: #262626;
	-fx-border-color: #1a1a1a;
	-fx-focus-color: #262626;
}

.scroll-bar {
	-fx-background-color: transparent;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
	visibility: hidden;
	-fx-padding: 1, 0, 0, 0;
}

.scroll-bar .increment-button .increment-arrow,
.scroll-bar .decrement-button .decrement-arrow {
    visibility: hidden;
}

.tab-pane {
	-fx-background: #262626;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #404040;
}

.tab {
	-fx-background-color: #666666;
	-fx-focus-color: transparent;
}

.tab-label {
	-fx-text-fill: white;
}


.tab:selected {
	-fx-background-color: #b3b3b3;
}

.menu-bar {
	-fx-background-color: transparent;
}

.context-menu {
	-fx-background-color: #808080;
}

.menu > .label {
	-fx-text-fill: white;
}

.progress-bar > .track {
    -fx-background-color: linear-gradient(to bottom, #33333385, #FFFFFF85);
    -fx-background-insets: 1;
    -fx-background-radius: 1.0em;
}

.progress-bar > .bar {
	-fx-background-color: linear-gradient(to bottom, #808080, #4d4d4d);
	-fx-background-insets: 4;
    -fx-background-radius: 4em;
}

.chart-legend {
	-fx-background-color: transparent;
	visibility: hidden;
}

.chart-legend-symbol {
	visibility: hidden;
}

.chart-legend-item{
	visibility: hidden;
}

.chart-series-area-line {
	-fx-stroke: #cccccc;
	-fx-stroke-width: 4px;
}

.chart-series-area-fill {
	-fx-fill: linear-gradient(to bottom, #cccccc7F, #3333337F);
}

.chart-area-symbol {
	-fx-padding: 4px;
	-fx-background-color: #cccccc;
}

#progress-bar-label {
	-fx-text-fill: black;
}

#selected-pane {
	-fx-background-color: #b3b3b3;
}

#unselected-pane {
	-fx-background-color: #666666;
}

#background {
	-fx-background-color: linear-gradient(to bottom, #333333, #1a1a1a);
}